<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{ message }}
        {{ myName }}
    </div>
    <script>
        var app = new Vue({
            el:'#app',
            data:{
                message:'Hello Vue!',
                myName:'palapol'
            }
        })
    </script>

    <div id="app2">
       <a v-bind:href="googleLink">{{ googleName }}</a>
    </div>
    <script>
        new Vue({
            el:'#app2',
            data:{
                googleName: 'Google',
                googleLink: 'https://google.com'
            }
        })
    </script>
</body>
</html>